@import 'tailwindcss';
@import '@fontsource-variable/montserrat';
@import '@fontsource/courier-prime/400.css';

@theme {
	/* Color palette */
	--color-*: initial;

	--color-teal-50: oklch(0.984 0.014 197.624);
	--color-teal-100: oklch(0.953 0.051 197.705);
	--color-teal-200: oklch(0.91 0.096 197.33);
	--color-teal-300: oklch(0.855 0.138 197.975);
	--color-teal-400: oklch(0.777 0.152 198.816);
	--color-teal-500: oklch(0.704 0.14 199.407);
	--color-teal-600: oklch(0.6 0.118 201.608);
	--color-teal-700: oklch(0.511 0.096 203.295);
	--color-teal-800: oklch(0.437 0.078 205.12);
	--color-teal-900: oklch(0.386 0.063 205.32);
	--color-teal-950: oklch(0.277 0.046 209.428);

	--color-pink-50: oklch(0.971 0.014 343.198);
	--color-pink-100: oklch(0.948 0.028 342.258);
	--color-pink-200: oklch(0.899 0.061 343.231);
	--color-pink-300: oklch(0.823 0.12 346.018);
	--color-pink-400: oklch(0.718 0.202 349.761);
	--color-pink-500: oklch(0.656 0.241 354.308);
	--color-pink-600: oklch(0.592 0.249 0.584);
	--color-pink-700: oklch(0.525 0.223 3.958);
	--color-pink-800: oklch(0.459 0.187 3.815);
	--color-pink-900: oklch(0.408 0.153 2.432);
	--color-pink-950: oklch(0.284 0.109 3.907);

	--color-gray-50: oklch(0.985 0.002 247.839);
	--color-gray-100: oklch(0.967 0.003 264.542);
	--color-gray-200: oklch(0.928 0.006 264.531);
	--color-gray-300: oklch(0.872 0.01 258.338);
	--color-gray-400: oklch(0.707 0.022 261.325);
	--color-gray-500: oklch(0.551 0.027 264.364);
	--color-gray-600: oklch(0.446 0.03 256.802);
	--color-gray-700: oklch(0.373 0.034 259.733);
	--color-gray-800: oklch(0.278 0.033 256.848);
	--color-gray-900: oklch(0.21 0.034 264.665);
	--color-gray-950: oklch(0.13 0.028 261.692);

	--color-black: #000;
	--color-white: #fff;

	/* Font family */
	--font-*: initial;
	--font-sans:
		'Montserrat Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono:
		'Courier Prime', 'Courier New', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', monospace;
}

@layer base {
	:root {
		--focus-outline-color: currentColor;
		--focus-outline-offset: 0.1rem;
		--focus-outline-style: solid;
		--focus-outline-width: 2px;
	}
	*:focus-visible {
		outline-color: var(--focus-outline-color);
		outline-offset: var(--focus-outline-offset);
		outline-style: var(--focus-outline-style);
		outline-width: var(--focus-outline-width);
	}
}
